# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing
/coverage
/test-results
/playwright-report
/blob-report

# Next.js
/.next/
/out/
/build
/dist

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo
next-env.d.ts
